:root {
  --bg-color: white;
  --accent-color-one: #1FD537 ;
  --accent-color-two: #E40010;
  --accent-color-four: #ff8f0f;
  --accent-color-three: #0099ff;
  --font-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);

  margin: 0;
  font-family: "Inter";
  font-style: normal;
}

/*
Logged-Out Content Styles
*/

#logged-in-content {
  display: none;
}

#logged-out-content {
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app-title {
  font-weight: 600;
  font-size: 64px;

  text-align: center;
}

#btn-login {
  background-color: var(--bg-color);
  width: 150px;
  height: 60px;

  margin: 10px 0px;

  position: absolute;
  top: 40%;
  left: 45%;

  font-family: "Inter";

  font-weight: 600;
  font-size: 25px;

  border: 3px solid var(--accent-color-one);
  border-radius: 20px;
  color: var(--accent-color-one);
  padding: 5px 10px;
}

#btn-login:hover {
  background-color: var(--accent-color-one);
  color: white;
}

/*
Logged-In Content Styles
*/

/* Account Details Styles */
div#logged-in-content {
  padding: 10px 15px 0px 10px;
}

.indicator-img {
  position: relative;
  margin-left: 15px;
}

.indicator-img#account {
  margin-top: 30px;
}

.account-details#username {
  margin: 0;

  display: inline;
  position: absolute;
  top: 36;
  left: 95;

  font-size: 42;
  font-weight: 600;
}

.account-details#email {
  margin: 0 0 0 0;

  position: absolute;
  left: 95;

  font-size: 25;
}

button#btn-logout {
  width: 120px;
  height: 35px;

  display: inline;

  position: absolute;
  top: 125;
  left: 95;

  font-family: "Inter";

  font-size: 20;
  font-weight: 500;
  color: var(--accent-color-one);
  background-color: var(--bg-color);

  border: 2px solid var(--accent-color-one);
  border-radius: 6px;
}

button#btn-logout:hover {
  font-weight: 600;
  color: white;
  background-color: var(--accent-color-one);
}

button#btn-superpower {
    width: 230px;
    height: 35px;
    
    position: absolute;
    top: 125;
    left: 215;

    margin-left: 10px;
  
    font-family: "Inter";
  
    font-size: 20;
    font-weight: 500;
    color: var(--accent-color-three);
    background-color: var(--bg-color);
  
    border: 2px solid var(--accent-color-three);
    border-radius: 6px;
  }
  
  button#btn-superpower:hover {
    font-weight: 600;
    color: white;
    background-color: var(--accent-color-three);
  }

button#btn-table-row-delete {
  width: 250px;
  height: 35px;

  display: none;

  margin-bottom: 15px;

  font-family: "Inter";

  font-size: 20;
  font-weight: 500;
  color: var(--accent-color-two);
  background-color: var(--bg-color);

  border: 2px solid var(--accent-color-two);
  border-radius: 6px;
}

button#btn-table-row-delete:hover {
  font-weight: 600;
  color: white;
  background-color: var(--accent-color-two);
}

button#btn-table-all-row-delete {
    width: 250px;
    height: 35px;
  
    display: none;
  
    margin-bottom: 15px;
    margin-left: 5px;
  
    font-family: "Inter";
  
    font-size: 20;
    font-weight: 500;
    color: var(--accent-color-two);
    background-color: var(--bg-color);
  
    border: 2px solid var(--accent-color-two);
    border-radius: 6px;
  }
  
  button#btn-table-all-row-delete:hover {
    font-weight: 600;
    color: white;
    background-color: var(--accent-color-two);
  }

/*Video Details Styles*/
.indicator-img#link {
  margin-top: 100px;

  position: relative;
}

#input-video-url {
  display: inline;

  width: 602px;
  height: 45px;

  padding-left: 15px;

  position: absolute;
  top: 200;
  left: 95;

  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  color: var(--font-color);

  background-color: var(--bg-color);
  border: 2px solid var(--accent-color-one);
  border-radius: 6px;
}

button#btn-search {
  width: 45px;
  height: 45px;

  position: absolute;
  top: 200;
  left: 710;

  background-color: var(--bg-color);
  border: 2px solid var(--accent-color-one);
  border-radius: 100px;
}

button#btn-search:hover {
  background-color: var(--accent-color-one);
  color: var(--font-color);
}

#img-search {
  width: 25;
  height: 25;

  position: relative;
  right: 1;
  bottom: 0;
}

/*Data Styles*/
.indicator-img#data {
  position: relative;
  margin-top: 60px;
}

#myTable {
    background-color: var(--accent-color-one);
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    margin-bottom: 10px !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px !important;
    border-bottom: none !important;
}

table.dataTable.no-footer {
	border-bottom: 1px solid #ddd !important;
}

thead {
    color: white !important;
}

.selected {
    background-color: var(--accent-color-three) !important;
    color: whitesmoke;
    font-weight: 700;
}

#main-content {
  margin-top: 60px;
  margin-left: 15px;
  margin-right: 15px;
}


